{% extends "base.html" %}
{% load static %}
{% block title %}Log In{% endblock %}
{% block content %}
<style>
form {
  margin-left: 600px;
  margin-right: 600px;
  margin-top: 30px;
}
</style>
<body>
    <form action="" method="POST">
      {% csrf_token %}
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" name="username">
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</body>
{% endblock %}