{% extends "base.html" %}
{% load static %}
{% block title %}{{ exerciseType|capfirst }} List{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="mt-5 mb-4 text-center">{{ exerciseType|capfirst }} List</h1>
            <ul class="list-group">
                {% for item in dataList %}
                    <li class="list-group-item">
                        <a href="{% url 'exerciseInfo' exerciseType=exerciseType exerciseSecondaryType=item %}" class="text-decoration-none">{{ item|capfirst }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
