{% extends "base.html" %}
{% block title %}Add Activity{% endblock %}
{% block content %}
<div class="container mt-5">
  <h1 class="display-4 mb-4">Add an activity</h1>

  <form method="post">
    {% csrf_token %}
    <label for="query" class="form-label">Search :</label>
    <div class="mb-3 input-group">
      <input type="text" class="form-control form-control-lg" id="query" name="query" placeholder="{{ defaultQuery }}" required>
      <input type="number" class="form-control form-control-lg" id="duration" name="duration" placeholder="{{ defaultDuration }}">
    </div>
    <div class="mb-3">
      <label for="date" class="form-label">Date:</label>
      <input type="date" class="form-control" id="date" name="date" required>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>

  <h2>Your activities</h2>
  {% if userActivities %}
    {% regroup userActivities by date as groupedActivities %}
    {% for activities in groupedActivities %}
    <h3>{{ activities.grouper }}</h3>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Calories burned(kcal/h)</th>
            <th>Duration (mn)</th>
            <th>Total calories (kcal)</th>
          </tr>
        </thead>
        <tbody>
          {% for activity in activities.list %}
          <tr>
            <td>{{ activity.name|capfirst }}</td>
            <td>{{ activity.caloriesPerHour }}</td>
            <td>{{ activity.durationMinutes }}</td>
            <td>{{ activity.totalCalories }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  {% else %}
    <p>You haven't added any activities yet.</p>
  {% endif %}
</div>
{% endblock %}
